openapi: 3.0.3

info:
  title: Birdia API
  description: |
    Detect and qualify geo-referenced objects.
    
    # Security
    
    Get your **API key** by emailing **contact@birdia.fr**.
    All of your requests must embed your API key in the header named: **x-api-key**.
    
    # Usage
    
    Submit your detection request through `POST /detections/{id}`
    where `{id}` is yours to be created.
    
    1. If your zone is described by a **GeoJson**, then just set accordingly the `geoJsonZone` field in the payload.
    2. If your zone is described by a **Shape file**, then upload it in a second call `POST /detections/{id}/shape`.
    3. If your zone is described by a list of addresses in an **Excel file**, then upload it in a second call `POST /detections/{id}/excel`.
    4. If your zone is described by an **Image**, then upload it in a second call `POST /detections/{id}/image`.
    
    # Examples
    
    ### Detection on roof objects providing geojson multiPolygon
    1. Submit detection request through `POST /detections/{id}` where `{id}` is yours to be created
    using the example request body accessible [here](https://raw.githubusercontent.com/b-partners/geo-jobs/refs/heads/preprod/examples/detection/geojson/detection_toiture_payload_example.json).
    Note that `detectableObjectModel` property must be set to `BP_TOITURE` and `geoServerProperties` property to `null`
    2. Track the progress of your detection through `GET /detections/{id}`. 
    Detection is finished when `geoJsonUrl` property containing your detection result is not null.
    Expected geojson example result is accessible [here](https://raw.githubusercontent.com/b-partners/geo-jobs/refs/heads/preprod/examples/detection/toiture_analysis_result_example.geojson)
    
    ### Detection on roof objects providing excel file containing textual addresses 
    1. Submit detection request through `POST /detections/{id}` where `{id}` is yours to be created
    using the example request body accessible [here](https://raw.githubusercontent.com/b-partners/geo-jobs/refs/heads/preprod/examples/detection/detection_creation_using_toiture_model_example.json). 
    Note that `detectableObjectModel` property must be set to `BP_TOITURE` and `geoServerProperties` property to `null`.
    2. Submit list of addresses contained inside an **Excel file** in a second call `POST /detections/{id}/excel`. 
    Example can be found [here](https://github.com/b-partners/geo-jobs/raw/refs/heads/preprod/examples/detection/excel/excel_addresses_example.xlsx)
    3. Track the progress of your detection through `GET /detections/{id}`. 
    Detection is finished when `geoJsonUrl` property containing your detection result is not null.
    4. Processing time is variable due to address conversion, 
    expected geojson example result is accessible [here](https://raw.githubusercontent.com/b-partners/geo-jobs/refs/heads/preprod/examples/detection/toiture_analysis_result_example.geojson). 

  version: 'latest'

servers:
  - url: 'https://api.birdia.fr'


paths:
  '/ping':
    get:
      operationId: ping
      tags:
        - Health
      responses:
        200:
          description: pong
          content:
            text/plain:
              schema:
                type: string
                example: pong
  '/readme/webhook':
    post:
      tags:
        - ReadmeWeb
      operationId: readmeWebhook
      security:
        - ReadmeAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhook'
      responses:
        200:
          description: The user info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SingleUserInfo"
  '/jobs/{id}/annotationProcessing':
    post:
      tags:
        - Tiling
        - MachineDetection
      operationId: processAnnotationJob
      description: |
        Send jobs tiles to bpartners-annotator.
        In case of ZDJ, detected objects are sent with all images.
        In case of ZTJ, only images are sent with empty detected objects.
      parameters:
        - in: path
          name: id
          required: true
          description: ZTJ or ZDJ identifier
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessJobAnnotation'
      responses:
        200:
          description: The created ZTJ
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnnotationJobProcessing"
        '500':
          $ref: '#/components/responses/500'
  '/tilingJobs/import':
    post:
      tags:
        - Tiling
      operationId: importZTJ
      description: Creates a ZTJ from an external source
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImportZoneTilingJob"
      responses:
        200:
          description: The created ZTJ
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ZoneTilingJob"
        '500':
          $ref: '#/components/responses/500'
  '/tilingJobs':
    post:
      tags:
        - Tiling
      operationId: tileZone
      description: Creates a ZTJ
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateZoneTilingJob"
      responses:
        200:
          description: The created ZTJ
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ZoneTilingJob"
        '500':
          $ref: '#/components/responses/500'
    get:
      tags:
        - Tiling
      operationId: getTilingJobs
      description: List all ZTJ
      parameters:
        - in: query
          name: page
          schema:
            $ref: "#/components/schemas/Page"
        - in: query
          name: pageSize
          schema:
            $ref: "#/components/schemas/PageSize"
      responses:
        200:
          description: All ZTJ
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ZoneTilingJob"
        '500':
          $ref: '#/components/responses/500'
  '/tilingJobs/{id}/recomputedStatus':
    get:
      tags:
        - Tiling
      parameters:
        - in: path
          name: id
          required: true
          description: ZTJ identifier
          schema:
            type: string
      operationId: getRecomputedZTJStatus
      description: Get last recomputed ZTJ status while submitting new recomputing again
      responses:
        200:
          description: The recomputed status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
        '500':
          $ref: '#/components/responses/500'
  '/tilingJobs/{id}/taskStatistics':
    get:
      tags:
        - Tiling
      parameters:
        - in: path
          name: id
          required: true
          description: ZTJ identifier
          schema:
            type: string
      operationId: getTilingTaskStatistics
      description: Get tiling task statistics for a given ZTJ
      responses:
        200:
          description: List of tiling task statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskStatistic"
        '500':
          $ref: '#/components/responses/500'
  '/tilingJobs/{id}/taskFiltering':
    post:
      tags:
        - Tiling
      parameters:
        - in: path
          name: id
          required: true
          description: ZTJ identifier
          schema:
            type: string
      operationId: filterTilingTasks
      description: |
        Separate SUCCEEDED tasks into new tiling job from not SUCCEEDED tasks inside another tiling job, for the given ZTJ
      responses:
        200:
          description: |
            List of new tiling jobs with its tasks statuses.
            SUCCEEDED status value means the job contains only SUCCEEDED tasks.
            NOT_SUCCEEDED status value means the job contains only not SUCCEEDED tasks, i.e FAILED or UNKNOWN
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FilteredTilingJob"
        '500':
          $ref: '#/components/responses/500'
  '/tilingJobs/{id}/duplications':
    post:
      tags:
        - Tiling
      parameters:
        - in: path
          name: id
          required: true
          description: ZTJ identifier
          schema:
            type: string
      operationId: duplicateTilingJob
      description: Duplicate existing zone tiling job with its tiling tasks and tiles
      responses:
        200:
          description: Duplicated tiling job
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ZoneTilingJob"
        '500':
          $ref: '#/components/responses/500'
  '/tilingJobs/{id}/retry':
    put:
      tags:
        - Tiling
      operationId: processFailedTilingJob
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: ZTJ Identifier
          required: true
      description: Retry failed tasks for a tiling job
      responses:
        200:
          description: The ZTJ with RETRYING health and PROCESSING progression status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ZoneTilingJob"
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
  '/tilingJobs/{id}/parcels':
    get:
      tags:
        - Tiling
      parameters:
        - in: path
          name: id
          required: true
          description: ZTJ identifier
          schema:
            type: string
      operationId: getZTJParcels
      description: List all parcels from a ZTJ
      responses:
        200:
          description: All parcels for given ZTJ
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TiledParcel"
        '500':
          $ref: '#/components/responses/500'

  '/detectionJobs':
    get:
      tags:
        - MachineDetection
      operationId: getDetectionJobs
      description: List all ZDJ
      parameters:
        - in: query
          name: page
          schema:
            $ref: "#/components/schemas/Page"
        - in: query
          name: pageSize
          schema:
            $ref: "#/components/schemas/PageSize"
      responses:
        200:
          description: All ZDJ
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ZoneDetectionJob"
        '500':
          $ref: '#/components/responses/500'
  '/detectionJobs/{id}/recomputedStatus':
    get:
      tags:
        - MachineDetection
      parameters:
        - in: path
          name: id
          required: true
          description: ZDJ identifier
          schema:
            type: string
      operationId: getRecomputedZDJStatus
      description: Get last recomputed ZDJ status while submitting new recomputing again
      responses:
        200:
          description: The recomputed status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Status"
        '500':
          $ref: '#/components/responses/500'
  '/detectionJobs/{id}/taskStatistics':
    get:
      tags:
        - MachineDetection
      parameters:
        - in: path
          name: id
          required: true
          description: ZDJ identifier
          schema:
            type: string
      operationId: getDetectionTaskStatistics
      description: Get detection task statistics for a given ZDJ
      responses:
        200:
          description: List of detection task statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskStatistic"
        '500':
          $ref: '#/components/responses/500'
  '/detectionJobs/{id}/retry':
    put:
      tags:
        - MachineDetection
      operationId: processFailedDetectionJob
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: ZDJ Identifier
          required: true
      description: Retry failed tasks for a detection job
      responses:
        200:
          description: The ZDJ with RETRYING health and PROCESSING progression status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ZoneDetectionJob"
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
  '/detectionJobs/{id}/taskFiltering':
    put:
      tags:
        - MachineDetection
      operationId: filterDetectionTasks
      description: |
        Separate SUCCEEDED tasks into new detection job from not SUCCEEDED tile detection tasks inside another detection job, for the given ZDJ
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: ZDJ Identifier
          required: true
      responses:
        200:
          description: |
            List of new detection jobs with its tasks statuses.
            SUCCEEDED status value means the job contains only SUCCEEDED tasks.
            NOT_SUCCEEDED status value means the job contains only not SUCCEEDED tasks, i.e FAILED or UNKNOWN
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FilteredDetectionJob"
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
  '/detectionJobs/{id}/detectedParcels':
    get:
      tags:
        - MachineDetection
      parameters:
        - in: path
          name: id
          required: true
          description: ZDJ identifier
          schema:
            type: string
      operationId: getZDJParcels
      description: List all detected parcels from a ZTJ
      responses:
        200:
          description: All detected parcels for given ZTJ
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DetectedParcel"
        '500':
          $ref: '#/components/responses/500'
  '/detectionJobs/{id}/geojsonsUrl':
    get:
      tags:
        - MachineDetection
      parameters:
        - in: path
          name: id
          required: true
          description: ZDJ identifier
          schema:
            type: string
      operationId: getZDJGeojsonsUrl
      description: |
        Get a secured URL containing the detection results as geojson.
      responses:
        200:
          description: URL containing detection result as geojson.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoJsonsUrl'
        '500':
          $ref: '#/components/responses/500'
  '/detectionJobs/{id}/process':
    post:
      tags:
        - MachineDetection
      parameters:
        - in: path
          name: id
          required: true
          description: ZDJ identifier
          schema:
            type: string
      operationId: processZDJ
      description: Process a ZDJ
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/DetectableObjectConfiguration"
      responses:
        200:
          description: The processed (-ing) ZDJ
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ZoneDetectionJob"
        '500':
          $ref: '#/components/responses/500'
  '/usage':
    get:
      tags:
        - Usage
      operationId: getDetectionUsage
      summary: Get detection usage
      parameters:
        - in: query
          name: surfaceUnit
          required: false
          schema:
            $ref: '#/components/schemas/DetectionSurfaceUnit'
      responses:
        200:
          description: Statistics of detection usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectionUsage'
  '/image':
    get:
      tags:
        - Image
      summary: Retrieve aerial image from a textual, human-readable, address
      operationId: getImage
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: query
          name: address
          schema:
            type: string
          required: true
        - in: query
          name: isExtended
          schema:
            type: boolean
            default: false
          required: false
        - in: query
          name: shiftNb
          schema:
            type: integer
            default: 0
          required: false
      responses:
        200:
          description: Image of provided address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageOfAddress'
  '/detections':
    get:
      tags:
        - Detection
      operationId: getDetections
      parameters:
        - in: query
          name: page
          schema:
            $ref: "#/components/schemas/Page"
        - in: query
          name: pageSize
          schema:
            $ref: "#/components/schemas/PageSize"
      responses:
        200:
          description: List of detections
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Detection'
  '/detections/{id}':
    get:
      tags:
        - Detection
      operationId: getProcessedDetection
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Detection identifier
          required: true
      responses:
        200:
          description: Detection result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
    post:
      tags:
        - Detection
      operationId: processDetection
      summary: Create or process detection
      description: |
        Create detection and launch it if `geoJsonZone` provided.
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Detection identifier
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDetection'
            examples:
              detectionForRoof:
                $ref: '#/components/examples/DetectionUsingToitureModel'
      responses:
        200:
          description: Detection created or launched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
  '/detections/{id}/addresses':
    post:
      tags:
        - Detection
      summary: Submit detection over a list of textual addresses
      operationId: detectAddresses
      description: |
        Provide list of textual addresses to launch detection
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/IdentifierParameter'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Address'
      responses:
        200:
          description: Detection launched with provided textual addresses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
  '/detections/{id}/roofDelimiter':
    post:
      tags:
        - Roof
      summary: Launch detection on delimited roof
      operationId: detectOnDelimitedRoof
      description: |
        Provide roof delimiter used in `BP_TOITURE` model and launches detection.
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/IdentifierParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoofDelimiter'
      responses:
        200:
          description: Detection launched on roof delimiter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
  '/detections/{id}/roofer':
    post:
      deprecated: true
      tags:
        - Detection
      operationId: processRooferDetection
      summary: Process detection for roof
      description: |
        This detection is handled synchronously under 30 seconds and used especially for roof under 100 square metre
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Detection identifier
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDetection'
      responses:
        200:
          description: Detection result for roof
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
  '/detections/{id}/sync':
    post:
      tags:
        - Detection
      operationId: processDetectionSynchronously
      summary: Process detection synchronously
      description: |
        Intended for small areas such as an address, detection tasks are processed simultaneously, delivering results in less than 60 seconds. 
        Results are requested through the GET /detections/{id} endpoint.
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/IdentifierParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDetection'
      responses:
        200:
          description: Detection created or processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
  '/detections/{id}/roofer/email':
    post:
      tags:
        - Detection
      operationId: sendMailAboutProspect
      summary: Send information about prospect to roofer
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Detection identifier
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Prospect'
      responses:
        200:
          description: Detection result for roof
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'

  '/detections/{id}/geojson':
    post:
      tags:
        - Detection
      operationId: detectGeoJson
      summary: Submit detection over retrieved geojson
      description: |
        Provide geojson retrieved from shape file or excel containing textual addresses and launch detection
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Detection identifier
          required: true
      requestBody:
        description: File containing list of features retrieved
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        200:
          description: Detection launched with updated geojson
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'

  '/detections/{id}/image':
    post:
      tags:
        - Image
      operationId: detectImage
      summary: Submit detection over an image
      description: |
        For security reasons, only image already previously queried from `GET /image` are supported for the moment.
        This ensures that only small enough images are submitted, and that images quality fit the requirements of our AI models.
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/IdentifierParameter'
      requestBody:
        description: Image from a specific textual address to be detected
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        200:
          description: Detection with updated image file uploaded url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'

  '/detections/{id}/pdf':
    post:
      tags:
        - Detection
      summary: Submit PDF containing detection result
      operationId: uploadRooferDetectionPdfResult
      description: |
        Provide PDF containing detection result
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Detection identifier
          required: true
      requestBody:
        description: Pdf of the detection result
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        200:
          description: Detection with pdf file containing result uploaded url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
  '/detections/{id}/shape':
    post:
      tags:
        - Detection
      operationId: detectShapeFile
      summary: Submit detection over a shape file
      description: |
        Provide shape file to launch detection
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Detection identifier
          required: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        200:
          description: Detection launched with provided shape file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
  '/detections/{id}/excel':
    post:
      tags:
        - Detection
      operationId: detectExcelFile
      summary: Submit detection over an excel file
      description: |
        Provide excel file containing textual addresses and launch detection.
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Detection identifier
          required: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        200:
          description: Detection with updated excel file uploaded url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
  '/parcelization':
    put:
      tags:
        - Parcelization
      parameters:
        - in: query
          name: targetZoom
          schema:
            type: integer
          required: false
        - in: query
          name: referenceZoom
          schema:
            type: integer
          required: false
        - in: query
          name: maxParcelAreaAtReferenceZoom
          schema:
            type: number
          required: false
      operationId: processParcelization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Feature'
      responses:
        '200':
          description: Zone successfully parcelized
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Feature'
        '500':
          description: Internal Server Error
          $ref: '#/components/responses/500'
  '/api/keys':
    post:
      tags:
        - Security
      operationId: generateApiKeys
      summary: Generate new API keys
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateApiKey'
      responses:
        200:
          description: API keys generated
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKey'
  '/keys':
    delete:
      tags:
        - Security
      operationId: revokeApiKey
      summary: Revoke all apiKey accesses
      security:
        - ApiKeyAuth: [ ]
      responses:
        200:
          description: Statistics of detection usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokeApiKeyResponse'
  /fusionner:
    post:
      summary: Merge polygons from a GeoJSON file and upload the result to S3
      description: |
        Accepts a GeoJSON file as multipart/form-data input, processes the file to merge the polygons,
        then uploads the resulting file to an Amazon S3 bucket. Returns the S3 URL of the uploaded file.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - bucket
                - key
              properties:
                file:
                  type: string
                  format: binary
                  description: The input GeoJSON file containing polygons.
                bucket:
                  type: string
                  description: Name of the S3 bucket to upload the result.
                key:
                  type: string
                  description: The key (filename) to use for the uploaded file in the S3 bucket.
      responses:
        '200':
          description: S3 URL of the uploaded merged GeoJSON file.
          content:
            text/plain:
              schema:
                type: string
                example: https://your-bucket.s3.amazonaws.com/output.geojson
        '400':
          description: Bad request (e.g., missing parameters or invalid file)
        '500':
          description: Internal server error during processing or S3 upload
      tags:
        - Polygon Fusion
components:
  securitySchemes:
    ReadmeAuth:
      type: apiKey
      name: readme-signature
      in: header
  parameters:
    IdentifierParameter:
      in: path
      name: id
      schema:
        type: string
      description: Detection identifier
      required: true
  examples:
    DetectionUsingToitureModel:
      summary: Detection using BP_TOITURE model
      value:
        emailReceiver: "<your-email-address>"
        zoneName: "<your-zone-name>"
        geoServerProperties: null
        detectableObjectModel:
          modelName: "BP_TOITURE"
        geoJsonZone:
          - type: "Feature"
            geometry:
              type: "MultiPolygon"
              coordinates:
                - [ [ [ [ -0.24908199906349182, 46.651815670805505 ], [ -0.24908166378736496, 46.65181521051821 ], [ -0.24908166378736496, 46.65181452008728 ], [ -0.24908099323511124, 46.651813829656334 ], [ -0.24908099323511124, 46.65180807606479 ], [ -0.249084010720253, 46.65180807606479 ], [ -0.24908434599637985, 46.65180853635213 ], [ -0.2490846812725067, 46.651808996639474 ], [ -0.24908501654863358, 46.651809687070475 ], [ -0.24908535182476044, 46.65181037750147 ], [ -0.24908535182476044, 46.65181152821978 ], [ -0.2490856871008873, 46.651811988507106 ], [ -0.2490873634815216, 46.65181313922538 ], [ -0.2490873634815216, 46.65181521051821 ], [ -0.24908669292926788, 46.65181544066185 ], [ -0.2490856871008873, 46.651815670805505 ], [ -0.24908535182476044, 46.65181590094914 ], [ -0.24908199906349182, 46.651815670805505 ] ] ] ]

  responses:
    400:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BadRequestException'
    403:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotAuthorizedException'
    404:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResourceNotFoundException'
    429:
      description: Too many requests to the API
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TooManyRequestsException'
    '500':
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InternalServerException'
  schemas:
    CreateApiKey:
      type: object
      properties:
        consumerName:
          type: string
        consumerEmail:
          type: string
        consumerType:
          type: string
          enum:
            - INSURANCE
            - COMMUNITY
            - ADMIN
        maxSurface:
          type: number
          description: allowed surface to detect in square degree
        authorizedZones:
          type: array
          items:
            $ref: '#/components/schemas/AuthorizedZone'
        detectableObjectTypes:
          type: array
          items:
            $ref: '#/components/schemas/DetectableObjectType'
    ApiKey:
      type: object
      properties:
        key:
          type: string
        creationDatetime:
          type: string
          format: date-time
    AuthorizedZone:
      type: object
      properties:
        name:
          type: string
        zone:
          $ref: '#/components/schemas/MultiPolygon'
    SingleUserInfo:
      type: object
      properties:
        apiKey:
          type: string
        name:
          type: string
        email:
          type: string
        isAdmin:
          type: boolean
    RestException:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
    InternalServerException:
      allOf:
        - $ref: '#/components/schemas/RestException'
      example:
        type: InternalServerException
        message: Unexpected error
    BadRequestException:
      allOf:
        - $ref: '#/components/schemas/RestException'
      example:
        type: BadRequestException
        message: Bad request
    NotAuthorizedException:
      allOf:
        - $ref: '#/components/schemas/RestException'
      example:
        type: NotAuthorizedException
        message: Not authorized
    ResourceNotFoundException:
      allOf:
        - $ref: '#/components/schemas/RestException'
      example:
        type: ResourceNotFoundException
        message: Resource of type <T> identified by <I> not found
    TooManyRequestsException:
      allOf:
        - $ref: '#/components/schemas/RestException'
      example:
        type: TooManyRequestsException
        message: Too many requests
    Page:
      type: integer
      description: Start at `1`
    PageSize:
      type: integer
      description: Cannot exceed `500`
    GeoServerProperties:
      type: object
      properties:
        geoServerUrl:
          type: string
        geoServerParameter:
          $ref: "#/components/schemas/GeoServerParameter"
    CreateZoneTilingJob:
      allOf:
        - $ref: '#/components/schemas/GeoServerProperties'
      properties:
        emailReceiver:
          type: string
          description: |
            Email address that will be notified about detection steps evolution
        zoneName:
          type: string
          description: |
            Name that consumers provide to identify the zone
        features:
          type: array
          items:
            $ref: "#/components/schemas/Feature"
        zoomLevel:
          type: string
          enum:
            - WORLD_0
            - WORLD_1
            - WORLD_2
            - CONTINENT_0
            - CONTINENT_1
            - COUNTRIES
            - COUNTRY
            - STATES
            - COUNTIES_0
            - COUNTIES_1
            - COUNTY
            - METROPOLITAN_AREA
            - CITIES
            - CITY
            - TOWN
            - NEIGHBORHOOD
            - STREETS
            - CITY_BLOCK
            - BUILDINGS
            - BUILDING
            - HOUSES_0
            - HOUSES_1
            - HOUSES_2
            - HOUSE_PROPERTY
    RevokeApiKeyResponse:
      type: object
      properties:
        message:
          type: string
    DetectionSurfaceUnit:
      type: string
      enum:
        - SQUARE_DEGREE
    DetectionSurfaceValue:
      type: object
      required:
        - value
        - unit
      properties:
        value:
          type: number
          format: double
        unit:
          $ref: '#/components/schemas/DetectionSurfaceUnit'
    DetectionUsage:
      type: object
      required:
        - totalUsedSurface
        - remainingSurface
        - lastDatetimeSurfaceUsage
        - maxAuthorizedSurface
      properties:
        maxAuthorizedSurface:
          $ref: '#/components/schemas/DetectionSurfaceValue'
        totalUsedSurface:
          $ref: '#/components/schemas/DetectionSurfaceValue'
        remainingSurface:
          $ref: '#/components/schemas/DetectionSurfaceValue'
        lastDatetimeSurfaceUsage:
          type: string
          format: date-time
    AnnotationJobProcessing:
      type: object
      properties:
        jobId:
          type: string
        jobType:
          $ref: '#/components/schemas/JobType'
        annotationWithObjectTruePositive:
          type: string
        annotationWithObjectFalsePositive:
          type: string
        annotationWithoutObjectJobId:
          type: string
        creationDatetime:
          type: string
          format: date-time
    FilteredDetectionJob:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/SuccessStatus'
        job:
          $ref: '#/components/schemas/ZoneDetectionJob'
    FilteredTilingJob:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/SuccessStatus'
        job:
          $ref: '#/components/schemas/ZoneTilingJob'
    ImportZoneTilingJob:
      type: object
      properties:
        createZoneTilingJob:
          $ref: '#/components/schemas/CreateZoneTilingJob'
        #TODO: must be oneOf but for now, only from S3 bucket is implemented
        bucketName:
          type: string
        bucketPathPrefix:
          type: string
        startFrom:
          type: number
        endAt:
          type: number
        bucketSeparator:
          $ref: '#/components/schemas/BucketSeparatorType'
    ZoneTilingJob:
      allOf:
        - $ref: "#/components/schemas/CreateZoneTilingJob"
      properties:
        id:
          type: string
        creationDatetime:
          type: string
          format: date-time
        status:
          $ref: "#/components/schemas/Status"

    CreateZoneDetectionJob:
      type: object
      properties:
        emailReceiver:
          type: string
        zoneName:
          type: string
        zoneTilingJobId:
          type: string
        type:
          $ref: '#/components/schemas/ZoneDetectionType'
        objectsToDetect:
          type: array
          items:
            $ref: "#/components/schemas/DetectableObjectConfiguration"
    ZoneDetectionJob:
      allOf:
        - $ref: "#/components/schemas/CreateZoneDetectionJob"
      properties:
        id:
          type: string
        creationDatetime:
          type: string
          format: date-time
        status:
          $ref: "#/components/schemas/Status"
    ZoneDetectionType:
      enum:
        - MACHINE
        - HUMAN
    DetectableObjectConfiguration:
      type: object
      properties:
        type:
          $ref: "#/components/schemas/DetectableObjectType"
        confidence:
          type: number
          description: between 0 and 1
        bucketStorageName:
          type: string
          description: |
            Bucket where are stores images to be detected. 
            If null is provided, the default apps bucket is chosen.
    DetectableObjectType:
      type: string
      enum:
        - TOITURE_REVETEMENT
        - PANNEAU_PHOTOVOLTAIQUE
        - PISCINE
        - PASSAGE_PIETON
        - ARBRE
        - TROTTOIR
        - LINE
        - ESPACE_VERT
        - VOIE_CARROSSABLE
        - PARKING
        - MOISISSURE_COULEUR
        - MOISISSURE_CLAIR
        - MOISISSURE_NOIRCIE
        - MOISISSURE
        - USURE_LEGER
        - USURE_IMPORTANTE
        - USURE
        - FISSURE_CASSURE
        - OBSTACLE
        - CHEMINEE
        - HUMIDITE_CLAIR
        - HUMIDITE_INTENSE
        - HUMIDITE
        - RISQUE_FEU
        - VELUX
        - BATI_TUILES
        - BATI_BETON
        - BATI_ARDOISE
        - BATI_AUTRES
        - ESPACE_VERT_PARKING
        - BACKGROUND
    ProcessJobAnnotation:
      type: object
      properties:
        minimumConfidence:
          type: number
          format: double
    TiledParcel:
      properties:
        id:
          type: string
        creationDatetime:
          type: string
          format: date-time
        feature:
          $ref: "#/components/schemas/Feature"
        tiles:
          type: array
          items:
            $ref: "#/components/schemas/Tile"
        status:
          $ref: "#/components/schemas/Status"
    DetectedParcel:
      properties:
        id:
          type: string
        detectionJobIb:
          type: string
        parcelId:
          type: string
        creationDatetime:
          type: string
          format: date-time
        detectedTiles:
          type: array
          items:
            $ref: "#/components/schemas/DetectedTile"
        status:
          $ref: "#/components/schemas/Status"
    TaskStatistic:
      type: object
      properties:
        jobId:
          type: string
        jobType:
          $ref: '#/components/schemas/JobType'
        actualJobStatus:
          $ref: '#/components/schemas/Status'
        taskStatusStatistics:
          type: array
          items:
            $ref: '#/components/schemas/TaskStatusStatistic'
        updatedAt:
          type: string
          format: date-time
    TaskStatusStatistic:
      allOf:
        - $ref: '#/components/schemas/StatusStatistic'
    StatusStatistic:
      type: object
      properties:
        progression:
          $ref: '#/components/schemas/ProgressionStatus'
        healthStatistics:
          type: array
          items:
            $ref: '#/components/schemas/HealthStatusStatistic'
    HealthStatusStatistic:
      type: object
      properties:
        health:
          $ref: '#/components/schemas/HealthStatus'
        count:
          type: number
    SuccessStatus:
      type: string
      enum:
        - SUCCEEDED
        - NOT_SUCCEEDED
    Tile:
      properties:
        id:
          type: string
        creationDatetime:
          type: string
          format: date-time
        coordinates:
          type: object
          properties:
            x:
              type: integer
            y:
              type: integer
            z:
              type: integer
        bucketPath:
          type: string
    TileInfo:
      properties:
        size:
          type: object
          properties:
            width:
              type: integer
            height:
              type: integer
        coordinates:
          type: object
          properties:
            x:
              type: integer
            y:
              type: integer
            z:
              type: integer
    DetectedTile:
      properties:
        tileId:
          type: string
        creationDatetime:
          type: string
          format: date-time
        tileInfo:
          $ref: "#/components/schemas/TileInfo"
        detectedObjects:
          type: array
          items:
            $ref: "#/components/schemas/DetectedObject"
        status:
          $ref: "#/components/schemas/Status"
        bucketPath:
          type: string
    DetectedObject:
      properties:
        detectedObjectType:
          $ref: "#/components/schemas/DetectableObjectType"
        feature:
          $ref: "#/components/schemas/Feature"
        confidence:
          type: number
        detectorVersion:
          type: string
    JobType:
      type: string
      enum:
        - DETECTION
        - TILING
        - PARCEL_DETECTION
    ProgressionStatus:
      type: string
      enum:
        - PENDING
        - PROCESSING
        - FINISHED
    HealthStatus:
      type: string
      enum:
        - SUCCEEDED
        - FAILED
        - UNKNOWN
        - RETRYING
    Status:
      type: object
      properties:
        progression:
          type: string
          enum:
            - PENDING
            - PROCESSING
            - FINISHED
        health:
          type: string
          enum:
            - SUCCEEDED
            - FAILED
            - UNKNOWN
            - RETRYING
        creationDatetime:
          type: string
          format: date-time

    ###########################################################################################################
    ###  GeoJSON objects. Modified from: https://gist.github.com/bubbobne/fe5f2db65acf039be6a9fd92fc9c7233  ###
    ###########################################################################################################
    GeoServerParameter:
      type: object
      properties:
        service:
          type: string
        request:
          type: string
        layers:
          type: string
        styles:
          type: string
        format:
          type: string
        transparent:
          type: boolean
        version:
          type: string
        width:
          type: integer
        height:
          type: integer
        srs:
          type: string

    Feature:
      type: object
      properties:
        type:
          type: string
          enum: [ Feature ]
        geometry:
          oneOf:
            - $ref: '#/components/schemas/Point'
            - $ref: '#/components/schemas/Polygon'
            - $ref: '#/components/schemas/MultiPolygon'
        properties:
          type: object
          additionalProperties: true
    Geometry:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - Point
            - Polygon
            - MultiPolygon

    Point2D:
      type: array
      maxItems: 2
      minItems: 2
      items:
        type: number

    Point:
      type: object
      allOf:
        - $ref: "#/components/schemas/Geometry"
      properties:
        coordinates:
          $ref: '#/components/schemas/Point2D'

    Polygon:
      type: object
      allOf:
        - $ref: "#/components/schemas/Geometry"
      properties:
        coordinates:
          type: array
          items:
            type: array
            items:
              $ref: '#/components/schemas/Point2D'

    MultiPolygon:
      type: object
      allOf:
        - $ref: "#/components/schemas/Geometry"
      properties:
        coordinates:
          type: array
          items:
            type: array
            items:
              type: array
              items:
                $ref: '#/components/schemas/Point2D'
    GeoJsonsUrl:
      type: object
      properties:
        url:
          type: string
        status:
          $ref: "#/components/schemas/Status"
    BucketSeparatorType:
      type: string
      enum:
        - UNDERSCORE
        - SLASH
    DetectionStepName:
      enum:
        - CONFIGURING
        - TILING
        - MACHINE_DETECTION
        - HUMAN_DETECTION
        - GEO_JSON_CONVERSION
    DetectionStepStatistic:
      allOf:
        - $ref: '#/components/schemas/StatusStatistic'
    DetectableObjectModel:
      type: object
      properties:
        modelName:
          $ref: '#/components/schemas/ModelName'
    ModelName:
      type: string
      enum:
        - BP_TOITURE
        - BP_LOM
        - BP_ZAN
        - BP_CLIMAT_RESILIENCE
        - BP_CONFIRMITE_PLU
        - BP_TROTTOIRS
        - BP_OLD
    CreateDetection:
      type: object
      properties:
        emailReceiver:
          type: string
          description: |
            Email address that will be notified about detection steps evolution
        zoneName:
          type: string
          description: |
            Name that consumers provide to identify the zone
        geoServerProperties:
          $ref: '#/components/schemas/GeoServerProperties'
          description: Optional Configuration properties for the GeoServer.
        detectableObjectModel:
          $ref: '#/components/schemas/DetectableObjectModel'
        geoJsonZone:
          type: array
          items:
            $ref: '#/components/schemas/Feature'
          description: |
            Optional. If so, must shape file or excel file or image file through its specific endpoint.
        geoJsonOutput:
          $ref: '#/components/schemas/GeoJsonOutput'
        needsImageOutput:
          type: boolean
          default: false
    DetectionStep:
      properties:
        name:
          $ref: '#/components/schemas/DetectionStepName'
        status:
          $ref: '#/components/schemas/Status'
        statistics:
          type: array
          items:
            $ref: '#/components/schemas/DetectionStepStatistic'
        updatedAt:
          type: string
          format: date-time
    CreateWebhook:
      properties:
        email:
          type: string
        readmeProject:
          type: string
    Detection:
      allOf:
        - $ref: '#/components/schemas/CreateDetection'
      properties:
        id:
          type: string
        step:
          $ref: '#/components/schemas/DetectionStep'
        geoJsonUrl:
          type: string
        shapeUrl:
          type: string
        excelUrl:
          type: string
        imageUrl:
          type: string
        pdfUrl:
          type: string
        vggUrl:
          type: string
        addresses:
          type: array
          items:
            type: string
        roofDelimiter:
          $ref: '#/components/schemas/RoofDelimiter'
    Prospect:
      type: object
      properties:
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        phone:
          type: string
        address:
          type: string
    Address:
      type: object
      properties:
        address:
          type: string
    ImageOfAddress:
      type: object
      properties:
        address:
          type: string
        imageBase64:
          type: string
    RoofDelimiter:
      type: object
      description: |
        Optional. Mandatory only when doing sync detection using TOITURE model.
      properties:
        polygon:
          type: array
          items:
            $ref: '#/components/schemas/Point2D'
    GeoJsonOutput:
      type: string
      description: |
        By default, detection output is a single GEO_JSON file, which can be displayed on a map such as QGIS, representing a single layer.
        If consumers want to separate result into multiple layers, a ZIP-compressed version is available, with each file representing a specific identified object and its corresponding map layer.
      enum:
        - GEO_JSON
        - ZIP